#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  line-height: 1.5;
}

.header {
  padding: 1rem;
}

h1 {
  margin: 1rem;
}

.h2-home {
  padding: 2rem;
}

ul {
  list-style-type: none;
}

.article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1em;
}

.article-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1em;
}

.author-date {
  display: flex;
  justify-content: space-evenly;
}

.topic-author {
  display: flex;
  justify-content: space-evenly;
}

.vote-button {
  text-align: center;
  margin: 5px;
}
.comment-button {
  text-align: center;
  margin: 5px;
}

.article-comment {
  padding-top: 20px;
}

.article-item {
  border: solid;
  margin: 10px;
}

.article-details {
  padding-top: 1em;
  padding-bottom: 1em;
}
